
.container1
{
    padding-left:0px;
    padding-right:0px;
    margin-bottom:30px;
    
}
.header1 .list-left
{
    float:left;
    text-align: right;
    z-index: 100;
    padding-left:115px;
    margin-top:-33px;
}
.list-left li
{
    margin: 0px 0px;
    list-style-type:none;
    float:left;
}
.list-left li a
{
    font-size: 14px;
    color: #555;
    padding: 10px 12px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration:none;
}
.row1
{
    padding:0px;
    margin:0px;
}
.header1 .list-right
{
    float: right;
    text-align: right;
    z-index: 100;
    padding-right: 121px;
    margin-top:-19px;
}
.list-right li
{
    display: inline-block;
    margin: 0px 0px;
    

}
.list-right li a
{
    font-size: 14px;
    color: #555;
    padding: 10px 12px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration:none;
}
.logodesk img
{
    padding-left: 10px;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    z-index: 999;
    left: 0;
    right: 0;
    padding:41px;
    top: 0px;
    padding-top: 38px;
    width: 416px;
}
.header1
{
    height: 74px;
    width: 100%;
    position: relative;
    display: inline-block;
    background: #fffaf6;
    padding-top: 31px;
}
.carousel img
{
    border-top: solid 5px #dd0f2b;
    
}
.text-header
{
    font-size: 30px;
    padding-bottom: 275px;
    text-transform: uppercase;
    color: #fff;
    background:url(images/slider.png) no-repeat center top;
}
.heading
{
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 23px;
}
.virasat
{
    font-size: 30px;
    color: #fff;
    padding-top: 0px;
}
.border-bottom
{
    background:url(images/bg.png) repeat-x;
    padding-bottom:10px;
    background-position:bottom left;
}
.container2
{
    background-image:url(images/design.jpg);
}
.header2
{
    padding: 10px;
    position: relative;
    margin-top: -75px;
}
.header2 img
{
    max-width:100%;
}
.header3
{
    background-color:white;
    margin-left:-15px;
    background-image:url(images/design.jpg);
}
.heading-text
{
    color: #9d131b;
    font-size: 42px;
    font-weight: 400;
    padding-bottom: 15px;
    font-family: Neucha,cursive;
    margin:47px;
    margin-left:80px;
    background-image:url(images/design.jpg);
}
.para
{
    line-height: 27px;
    font-size: 16px;
    color: #3b3b3b;
    margin-top: -48px;
    background-image:url(images/design.jpg);
}
.carousel2 
{
    border:5px solid white;
    
}
.carousel2 img
{
    border-top:2px solid white;
}
.header3 img
{
    margin-top: -66px;
    background-image:url(images/design.jpg);
}

.my-heading
{
    font-family: Engagement,cursive;
    font-size: 38px;
    padding-top: 0;
    font-weight: 400;
    color: #333;
    text-align:center;
}
.heading-text2 img
{
    max-width: 100%;
}
.para1
{
    padding: 15px 0 10px;
    font-family: Engagement,cursive;
    font-size: 27px;
    text-align:center;
}
.card
{
    background-color:white;
    border:2px solid white;
}
.container3
{
    background-color:white;
    border-top:2px solid white;
}
.card1
{
    background-color:white;
    border:2px solid white;
}
.container4
{
    background-color:white;
    border-top:2px solid white;
}
.container5
{
    width:80%;
}
.para2
{
    padding-top: 20px;
    font-size: 16px;
}
.background
{
    background-image:url(images/red.png);
}

.pic
{
    padding:60px;
    margin-top: -79px;
    
}
.pic img
{
    width:100%;
    padding: 2px;
    background: #fff;
    box-shadow: 7px 7px 16px #dcdbdb;
}
.pic1
{
    padding:60px;
    margin-top: -79px;

}
.pic1 img
{
    width:100%;
    padding: 2px;
    background: #fff;
    box-shadow: 7px 7px 16px #dcdbdb;
}
.pic2
{
    padding:60px;
    margin-top: -100px;
    
}
.pic2 img
{
    width:100%;
    padding: 2px;
    background: #fff;
    box-shadow: 7px 7px 16px #dcdbdb;
}
.pic3
{
    padding:60px;
    margin-top: -100px;
    
}
.pic3 img
{
    width:100%;
    padding: 2px;
    background: #fff;
    box-shadow: 7px 7px 16px #dcdbdb;
}
.pic4
{
    padding:60px;
    margin-top: -100px;

}
.pic4 img
{
    width:100%;
    padding: 2px;
    background: #fff;
    box-shadow: 7px 7px 16px #dcdbdb;
}
.border3 img
{
    width:100%;
    margin-top: -55px;
}
.container6
{
    background-image:url(images/red.png) repeat-x;
    margin-bottom: 72px;
    margin-top: 25px;
    
}
.ffkd
{
    font-family: Engagement,cursive;
    font-size: 32px;
    line-height: 134px;
    color: white;
    text-align:center;
    margin-top: 186px;
}
.kkfd
{
    font-family: Neucha,cursive;
    font-size: 34px;
    color: #ffb03c;
    padding-bottom: 0px;
    text-align:center;
    margin-top: -43px;
}
.ddd
{
    font-size: 18px;
    padding-bottom: 23px;
    font-family: Neucha,cursive;
    letter-spacing: 3px;
    color: white;
    text-align:center;
}
.container6 img
{
    width: 100%;
    padding: 18px 0px;
}
.my-heading1
{
    text-align:center;
    padding: 15px 0 10px;
    font-family: Engagement,cursive;
    font-size: 34px;
}
.para12
{
    text-align:center;
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 1.5;
}
.my-heading2
{
    text-align:center;
    padding: 15px 0 10px;
    font-family: Engagement,cursive;
    font-size: 34px;
}
.para123
{
    text-align:center;
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 1.5;
}
.my-heading4
{
    text-align:center;
    padding: 15px 0 10px;
    font-family: Engagement,cursive;
    font-size: 34px;
}
.par1
{
    text-align:center;
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 1.5;
}
.my-heading3
{
    text-align:center;
    padding: 15px 0 10px;
    font-family: Engagement,cursive;
    font-size: 34px;
}
.para121
{
    text-align:center;
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 1.5;
}
.my-heading5
{
    text-align:center;
    padding: 15px 0 10px;
    font-family: Engagement,cursive;
    font-size: 34px;
}
.par1234
{
    text-align:center;
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 1.5;
}

.ghg
{
    margin-top:-147px;
}
.heading-text5
{
    margin-top: -50px;
}
.my-heading5
{
    text-align:center;
}
.heading-text5 img
{
    width:100%;
    margin-top: -12px;
}

.g1 img
{
    max-width: 100%;
    padding: 10px;
    margin-top: 35px;
}

.g2 img
{
    max-width: 100%;
    padding: 10px;
    margin-top: 35px;
}
.k
{
    text-align: center;
    margin-top: -89px;
    color: white;
    font-size: 30px;
    font-weight: 500;
}
.l
{
    text-align: center;
    margin-top: -89px;
    color: white;
    font-size: 30px;
    font-weight: 500;
}
.container6
{
    background-image:url(images/red.png);
}
.hover
{
    position: absolute;
    left: 11px;
    right: 18px;
    top: -4px;
    bottom: 7px;
}
.our-hover
{
    position: relative;
    padding: 19px;
    text-align: center;
    display:none;
}
.hover:hover > .our-hover 
{
    display:block;
}
.our-hover img
{
    max-width: 100%;
}
.our-hover-text
{
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    bottom: 0;
    margin: auto;
    padding: 26px;
    color: #fff;
}
.oht
{
    font-size: 26px;
    font-weight: 500;
    margin-top: 66px;
}
.pp
{
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    padding: 5px 19px 14px;
}
.container7
{
    background-image:url(images/red.png);
    margin-top: 57px;
    padding-top: 119px;
}
.ll
{
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    margin-top: -69px;
    width: 100%;
    text-align: center;
}
.cc
{
    color: #fff;
    font-size: 18px;
    font-weight: initial;
    padding: 25px 0 30px;
    width: 100%;
    text-align: center;
    margin-top: -55px;
}
.dd
{
    color: #fff;
    display: inline-block;
    margin-right: 15px;
    font-size: 15px;
    margin-top: -38px;
    width: 100%;
    text-align: center;
}
.footer
{
    font-size: 14px;
    color: #fff;
    padding:6px 138px 0px;
    text-align: center;
    line-height: 28px;
    background-image:url(images/red.png);
    
}
.footer a
{
    color: #d9dcd9;
    text-decoration:none;
}
.footer1 a
{
    text-decoration:none;
    color: #d9dcd9;
}
